{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О проекте | Tenewoy Lab</title>
    <link rel="stylesheet" href="{% static 'hello/about.css' %}">
     <link rel="stylesheet" href="{% static 'hello/back.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <a href="{% url 'home' %}" class="back-button fa-icon">
    <i class="fas fa-arrow-left"></i>
    <span>На главную</span>
</a>
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=103824050', 'ym');

    ym(103824050, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/103824050" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<header>
        <h1>О проекте Tenewoy Lab🤵</h1>
    </header>

    <main>
        <section>
            <h2>Кому может быть полезен сайт?</h2>
            <p>Сайт может стать ценным ресурсом для разных аудиторий в мире IT — от новичков до опытных разработчиков. Вот кому он особенно пригодится:</p>
            <ul>
                <li> <b>Новичкам</b> – уроки по основам, первые шаги в коде.</li>
                <li> <b>Фрилансерам</b> – как находить заказы и делать проекты.</li>
                <li> <b>Блогерам</b> – идеи для контента про IT.</li>
                <li> <b>Учителям</b> – готовые материалы для учеников.</li>
                <li> <b>HR</b> – как оценивать разработчиков.</li>
            </ul>
            <p><b>Коротко:</b> Всем, кто связан с программированием – от первого "Hello, World!" до реальных проектов. 💻</p>
        </section>
    </main>

    <footer>
        <p>© 2025 Tenewoy Lab</p>
    </footer>
</body>
</html>
