{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статьи</title>
   <link rel="stylesheet" href="{% static 'hello/it2025.css' %}">
    <link rel="stylesheet" href="{% static 'hello/back.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <a href="{% url 'home' %}" class="back-button fa-icon">
    <i class="fas fa-arrow-left"></i>
    <span>На главную</span>
</a>
</head>
<body>
    <h1>Данный раздел находится в разработке </h1>
</body>
</html>